@font-face {
    font-family:din_l;
    src: url('../../both/fonts/DINLight.ttf');
}

@font-face{
	font-family:din_r;
	src: url('../../both/fonts/DINRegular.ttf');
}

@font-face{
	font-family:avenir_light;
	src: url('../../both/fonts/Avenir-Light.ttf');
}

@font-face{
	font-family:avenir_black;
	src: url('../../both/fonts/Avenir-Black.ttf');
}

@font-face{
	font-family:arial_bd;
	src: url('../../both/fonts/arialbd.ttf');
}

@font-face{
	font-family:arial;
	src: url('../../both/fonts/arial.ttf');
}

@font-face{
	font-family:avenir_roman;
	src: url('../../both/fonts/Avenir-Roman.ttf');
}

@font-face{
	font-family:avenir_heavy;
	src: url('../../both/fonts/Avenir-Heavy.ttf');
}

@font-face{
	font-family:avenir_black_oblique;
	src: url('../../both/fonts/Avenir-BlackOblique.ttf');
}

@font-face{
	font-family:AvenirNextCondensed-Medium;
	src: url('../../both/fonts/AvenirNextCondensed-Medium.ttf');
}

@font-face{
	font-family:nexa_bold;
	src: url('../../both/fonts/Nexa Bold.otf');
}

@font-face{
	font-family:myriadpro_bold;
	src: url('../../both/fonts/MyriadPro-Bold.otf');
}

/* Other */
.cus_con{
	margin-left:100px;
	margin-right:100px;
}

.img_center{
	display:block;
	margin:auto;
}

.img_width{
	width:100%;
}

.flex_table{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
}

.flex_table > [class*='col-']{
	display:flex;
	flex-direction:column;
	margin-bottom:20px;
}
/* Our Company */
.oc_con{
	margin-top:90px;
	margin-bottom:234px;
	font-family:din_l !important;
}

.oc_tab_p{
	text-align:center;
	color:#58595B !important;
	font-size:38px !important;
	margin-top:15px;
}

.oc_tab_des{
	font-size:19px !important;
	color:#A00C10 !important;
	padding-top:30px;
	line-height: 130% !important;
	text-align:justify;
}

.cus_tab_oc > .active > a{
	background-color:transparent !important;
}

/* Our Services */
.os_con{
	margin-top:90px;
	margin-bottom:234px;
	font-family:din_l !important;
}

.os_tab_p{
	text-align:center;
	color:#58595B !important;
	margin-top:15px;
	font-size:20px !important;
	line-height:120%;
}

.os_cus_tab a{
	padding:20px 15px 40px 15px !important;
	border-bottom:0 !important;
}

.os_tab_content{
	border:1px solid #ddd;
	padding:40px;
	font-size:19px !important;
	line-height: 130% !important;
	margin-top: -1px;
}

/* News */
	/* Custom Slide show News */
	.swiper-button-next{
		right:3% !important;
		background-image: url('../images/other/arrow-right.png');
	}

	.swiper-button-prev{
		left:3% !important;
		background-image: url('../images/other/arrow-left.png');
	}

	.swiper-pagination-bullets{
		bottom:40px !important;
		text-align:left;
		left:10% !important;
	}

	.swiper-pagination-bullet{
		width:10px !important;
		height:10px !important;
		border-radius:0 !important;
		background-color:#FFFFFF !important;
		opacity:1 !important;
	}

	.swiper-pagination-bullet-active{
		background-color:#999999 !important;
	}

	.swiper_cus_con{
		width:100%;
		height:auto;
		position:absolute;
		bottom:0;
		background-image:url('../images/other/transparent.png');
		background-repeat: repeat;
		padding-top:40px;
		padding-bottom:40px;
	}

	.swiper_cus_cons{
		background-color:#ffffff;
	}

	.swiper_cus_time{
		background-color:#DB0B0B;
		color:white;
		text-align:center;
		padding-top:10px;
		padding-bottom:10px;
		margin-left:-5px;
		margin-top:5px;
		font-family:Helvetica !important;
	}

	.swiper_cus_headline{
		padding-left:6%;
		padding-top:5px;
		padding-bottom:5px;
		color:#282828 !important;
	}

	.swiper_cus_headline_font{
		font-size:40px;
		font-family:avenir_black !important;
	}

	.swiper_cus_des{
		color:white;
		padding-top:15px;
		font-family:din_l !important;
		font-size:20px !important;
	}
	/* End Custom Slide show News */

.nw_con1{
	margin-top:100px;
	margin-bottom:100px;
}

.nw_bg_con1{
	background-color:#F7F7F7;
}

.nw_con1L{
	padding-top:40px;
	margin-bottom:20px;
}

.nw_con1L h1{
	color:#E10A0A;
	font-size:50px;
	font-family:arial_bd !important;
}

.nw_con1_1L{
	padding-top:25px;
	padding-bottom:25px;
	border-bottom:1px solid #CCCCCC;
}

.nw_con1_2L{
	font-size:28px;
	color:#E10A0A !important;
	font-family:arial_bd !important;
}

.nw_con1_2L h3{
	margin-bottom:5px;
}

.nw_con1_3L{
	margin-bottom:10px;
	color:#959595 !important;
	font-family:Helvetica !important;
}

.nw_con1_4L{
	color:#212121 !important;
}

.nw_con1_4L:hover{
	color:#959595 !important;
}

.nw_con1_5L{
	font-family:avenir_roman !important;
	line-height:150%;
	color:#212121 !important;
	font-size:18px;
}

.nw_pad_con1{
	padding-right:30px;
}

.nw_con1_pad{
	padding-left:60px;
}

.nw_con1_1R{
	background-color:#E10A0A;
	color:#ffffff;
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
	font-size:24px;
	font-family:arial_bd !important;
}

.nw_con1_2R{
	background-color:#4D4D4D;
	height:15px;
}

.nw_con1_3R{
	padding:6% 8%;
}

.nw_con1_3R_1{
	background-color:#4D4D4D;
	text-align:center;
	padding:10%;
	font-family:arial_bd !important;
	font-size:20px;
	color:#ffffff;
}

.nw_con1_4R{
	padding-top:6px;
	padding-bottom:6px;
	border-bottom:1px solid #CCCCCC;
}

.nw_con1_5R{
	margin-top:5px;
}

.nw_con1_5R a{
	font-family:avenir_heavy !important;
	font-size:20px !important;
	color:#2D2D2D !important;
}

.nw_pg_cus{
	text-align:right;
}

.nw_pg_cus > .pagination > .active > span{
	background-color:#E10A0A !important;
	color:#ffffff !important;
	border:none !important;
	font-family:arial_bd !important;
	font-size:14px;
	margin-left: 10px;
}

.nw_pg_cus > .pagination > .disabled{
	display:none !important;
}

.nw_pg_cus > .pagination > li > a{
	margin-left: 10px;
	background-color:#999999 !important;
	color:#ffffff !important;
	font-family:arial_bd !important;
	font-size:14px;
}

.nw_pg_cus > .pagination > li:first-child > a{
	background-color:#666666 !important;
}

.nw_pg_cus > .pagination > li:last-child{
	margin-left:0 !important;
}

.nw_pg_cus > .pagination > li:last-child > a{
	border-radius:0 !important;
	background-color:#666666 !important;
}
/* End News */

/* News Detail */
.nwd_con1{
	margin-top:50px;
	margin-bottom:100px;
}

.nwd_con1_1L{
	padding-top:50px;
	padding-bottom:50px;
}

.nwd_time{
	color:#777777 !important;
	font-family:Helvetica !important;
}

.nwd_title{
	color:#A8000C;
	font-family:arial_bd !important;
	font-size:40px;
	margin-bottom:10px;
}

.nwd_img{
	margin-top:30px;
	margin-bottom:30px;
}

.nwd_des{
	font-family:avenir_roman !important;
	line-height:250% !important;
	color:#666666 !important;
}

.nwd_des p{
	font-size:24px;
}

.img_sos_con{
	text-align:right;
	margin-top:100px;
}

.img_sosmed{
	margin-left:10px;
	display:inline-block !important;
}
/* End News Detail */

/* Apply */
.ap_con{
	padding-top:80px;
	padding-bottom:80px;
	margin-bottom:100px;
	background-color:#F4F4F4;
}

.ap_des{
	font-family:avenir_black_oblique !important;
	line-height:120% !important;
	font-size:36px !important;
	padding-top:40px;
	padding-left:60px;
	padding-right:60px;
	padding-bottom:40px;
	background-color:#ffffff;
}

.ap_pad_l{
	padding-right:45px;
}

.ap_ti_r{
	background-color:#4D4D4D;
	font-family:arial_bd !important;
	color:#ffffff;
	font-size:22px !important;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:30px;
}

.ap_con_r{
	background-color:#ffffff;
	padding-top:40px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:90px;
}

.ap_label_r label{
	margin-bottom:0 !important;
	font-family:avenir_heavy !important;
	color:#555555 !important;
	font-size:14px;
}

.ap_cus_input input, .ap_cus_input textarea{
	border-radius:0 !important;
}

.ap_input_con{
	margin-bottom:10px;
}

.ap_select_r select{
  border-radius: 0 !important;
  background: url(../images/other/dropdown.png) no-repeat right #fff !important;
  -webkit-appearance: none !important;
  /*webkit browsers */
  -moz-appearance: none !important;
  /*Firefox */
  appearance: none !important;
  /* modern browsers */
}

.ap_des_r{
	margin-top:60px;
	text-align:justify;
}

.ap_des_r p{
	font-family:din_l !important;
	font-size:16px;
	color:#555555 !important;
}

.ap_des_r p:first-child{
	text-indent: 30px;
}

.ap_submit_con{
	margin-top:35px;
}

.ap_submit_btn{
	width:100%;
	height:100%;
	background-color:#E10A0A;
	color:#ffffff !important;
	border-radius:0 !important;
	font-family:arial_bd !important;
	font-size:18px;
}

.img_lock{
	display:block;
	margin:auto auto auto 0;
}
/* End Apply */

/* Contact */
.ct_banner{
	background-size:cover;
	padding-top:150px;
	padding-bottom:150px;
}

.ct_banner p{
	margin-bottom:28px;
}

.ct_banner span{
	padding:5px 15px;
	font-size:36px !important;
	font-family:nexa_bold !important;
}

.ct_con1{
	padding-top:80px;
	padding-bottom:100px; 
}

.ct_table{
	color:#4D4D4D !important;
	font-family:avenir_roman !important;
	font-size:24px;
}

.ct_table table tr td{
	border:none !important;
	padding-bottom: 0;
	padding-left:0 !important;
}

.ct_con2{
	font-family:avenir_heavy !important;
	font-size:38px;
	margin-top:60px;
	margin-bottom:10px;
}

.ct_con3 a{
	font-family:din_l !important;
	font-size:22px;
	color:#E10A0A;
}

.ct_con3{
	margin-bottom:20px;
}

.ct_con4{
	font-family:avenir_light !important;
	color:#999999;
	font-size:24px;
}

.ct_sos_con{
	background-color:#F4F4F4;
	padding:40px 35px;
}

.ct_sos_1{
	color:#333333;
	font-family:avenir_heavy !important;
	font-size:36px;
	margin-bottom:20px;
}

.ct_sos_img{
	display:inline-block;
	margin-right:20px;
    margin-top: 15px;
    max-height:32px;
}

.ct_sos_2{
	font-size:28px;
	display:inline-block;
	color:#4D4D4D;
}

.ct_g{
	margin-bottom:60px;
}

.ct_gt_con{
	width:auto;
	height:95%;
	position:absolute;
	background-color:#ffffff;
	z-index:100;
	top:0;
	right:15%;
}

.ct_gt_pad{
	padding:30px 40px;
}

.ct_gtl{
	margin-bottom:20px;
	font-family:avenir_heavy !important;
	font-size:20px !important;
}

.ct_gda{
	font-family:avenir_light !important;
	font-size:16px !important;
	line-height:150% !important;
}

.ct_gda strong{
	font-weight:700 !important;
}

.ct_gda p{
	margin-top:5px;
}

.ct_gimg{
	margin-top:60px;
}
/* End Contact */


/* Merchant */
.mc_con{
	padding-top:40px;
	padding-bottom:100px;
}

.mc_col_1{
	color:#B0B0B0 !important;
	font-family:avenir_light !important;
	font-size:18px;
}

.mc_sb{
	margin-left: 5px !important;
}

.mc_col1_1{
	margin-bottom:15px;
}

.mc_col1_2{
	margin-bottom:30px;
}

.mc_col1_2 button{
	background-color:#BB2A26 !important;
	color:#ffffff !important;
}

.mc_col1_3 label{
	color:#B0B0B0 !important;
	font-family:avenir_light !important;
	font-size:20px !important;
}

.mc_col1_3 input[type=checkbox]{
  -webkit-appearance:checkbox;
}

.mc_col1_3 td{
	padding-bottom:20px;
}

.mc_ac_def{
	margin-bottom:40px !important;
}

.mc_cus_tab{
	text-align:center;
	color:#ffffff !important;
}

.mc_cus_tab > .panel-title{
	font-family:myriadpro_bold !important;
	font-size:24px !important;
}

.mc_tab_active{
	background-color:#666666 !important;
}

.mc_tab_inactive{
	background-color:#E10A0A !important;
}

.mc_ac_pad{
	padding-top:40px;
	padding-left:20px;
	padding-right:20px;
}

.mc_ac_col{
	margin-bottom:40px;
}

.mc_cus_tab .accordion-toggle:before {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f103";    /* adjust as needed, taken from bootstrap.css */
    float: left;        /* adjust as needed */
    color: #ffffff;         /* adjust as needed */
    padding-left:10%;
}
.mc_cus_tab .accordion-toggle.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\f101";    /* adjust as needed, taken from bootstrap.css */
}

.mc_cus_tab .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f103";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #ffffff;         /* adjust as needed */
    padding-right:10%;
}
.mc_cus_tab .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f100";    /* adjust as needed, taken from bootstrap.css */
}

.mc_mp_tl{
	background-color:#E10A0A;
	font-family:myriadpro_bold !important;
	font-size:18px;
	text-align:center;
	color:#ffffff;
	padding-top:10px;
	padding-bottom:10px;
}

.mc_mp_logo{
	padding-top:30px;
	padding-left:20px;
	padding-right:20px;
	border:2px solid #808080; 
}

.mc_mp_logo img{
	margin-bottom:30px;
}

.mc_found h3{
	font-family:myriadpro_bold !important;
	font-size:32px;
	color:#212121 !important;
	text-align:center;
}
/* End Merchant */

/* Detail Merchant */
.dm_tl{
	text-align:center;
	background-color:#E10A0A;
	font-family:myriadpro_bold !important;
	color:#ffffff;
	padding-top:20px;
	padding-bottom:15px;
	font-size:32px;
}

.dm_tab .active a{
	background-color:#383838 !important;
}

.dm_tab li{
	background-color:#E10A0A !important;
}

.dm_tab li a{
	color:#ffffff !important;
	border-radius:0 !important;
	font-family:myriadpro_bold !important;
	font-size:16px;
	padding-top:20px;
	padding-bottom:20px;
}

.dm_tab li a:hover{
	background-color:#383838 !important;
}

.dm_tab li:nth-child(2) a{
	border-right:2px solid #383838;
	border-left:2px solid #383838;
}

.dm_tab li a:focus{
	background-color:#383838 !important;
}

.dm_tab_con{
	border:2px solid #EFEFEF;
}

.dm_tab_pad{
	padding:60px 50px;
}

.dm_tab_pad2{
	padding-top:30px;
	padding-bottom:30px;
}

.dm_tab_tl1{
	font-family:myriadpro_bold !important;
	color:#212121 !important;
	font-size:30px;
	margin-bottom:30px;
}

.dm_tab_content1{
	font-family:din_l !important;
	font-size:18px;
	color:#636363 !important;
}

.dm_table td{
	padding-bottom:20px;
}

.dm_tab_content2 p{
	font-family:din_l !important;
	font-size:27px;
	margin-bottom:10px;
}

.dm_tab_content2 span{
	margin-right:5px;
}

.dm_tab_content2 h3{
	margin-right:30px;
	font-family:myriadpro_bold !important;
	color:#212121 !important;
	font-size:30px;
}

.dm_tab_content3 h3{
	font-family:myriadpro_bold !important;
	color:#212121 !important;
	font-size:30px;
	margin-bottom:30px;
}

.dm_promo img{
	margin-bottom:30px !important;
}

.dm_rel{
	margin-top:40px;
}
/* End Detail Merchant */

/* Promo */
.prm_cons{
	padding-top:30px;
	padding-bottom:70px;
}

.prm_con{
	margin-top:30px;
}

.prm_con h1{
	text-align:center;
	font-size:58px;
	color:#212121 !important;
	margin-bottom:4%;
	font-family:din_r !important
}

.prm_con2{
	margin-bottom:5%;
}

.prm_con2 h3{
	font-family:myriadpro_bold !important;
	color:#212121 !important;
	font-size:37px !important;
	margin-bottom:15px;
}

.prm_con3{
	font-size:25px !important;
	font-family:din_l !important;
	color:#636363 !important;
}

.prm_con4 h3{
	font-family:myriadpro_bold !important;
	font-size:19px;
	color:#212121 !important;
	margin-bottom:15px;
}

.prm_con5{
	font-family:din_l !important;
	color:#636363 !important;
	font-size:16px;
	line-height:180% !important;
}
/* End Promo */

/*Start page login*/
#background_blue {
  overflow: hidden;
  background-image: url('../images/other/background_blue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page{
	font-family:din_r;
	font-size: 16px;
	color: #8d8f91;
}

.login-desc{
	font-family:AvenirNextCondensed-Medium;
}

.padding-10px{
	padding: 10px;
}

.login-desc-title{
	font-weight: bold;
	font-style: italic;
}

.form-group.form-md-line-input .form-control {
    background: none;
    border: 0;
    border-bottom: 1px solid #c2cad8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #555555;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
}

.float-left-none{
	float: none;
}

.hd_forgot{
	font-family: arial;
    font-weight: bold;
    color: #808080 !important;
    background: transparent !important;
    border: none !important;
    padding-right: 0px;
}

.btn-log-in{
	padding-top: 20px;
}
/*End page login*/

/*page forgot password*/

.page-forgot-password{
    margin-top: 20px;
    font-family:din_r;
}

.panel-heading-style1{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.panel-heading-style2{
	color: #8d8f91;
	padding-top: 20px;
	text-align: center;
}

/*end page forgot password*/


/*Start footer*/
.login-footer{
	color: #8d8f91;
}

.login-desc-copyright{
	font-size: 14px;
}

.login-title{
	color: #d6da24 !important;
    font-size: 28px !important;
    padding-left: 15px;
    padding-bottom: 20px;
}
/*End Footer*/

/*Start page login*/
.information-entry{
    padding-left: 0px;
    padding-right: 0px;
}
/*End page login*/

/*Header*/
.page-header.navbar{
    min-height: 94px;
    border-bottom: 4px #46b4d9 solid;
}
.page-container {
    margin-top: 75px;
}
.page-header-inner > .page-logo > a > img.logo-default{max-height:80px;}
.page-header.navbar .page-logo .logo-default {
    margin: 7px !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    padding: 30px 10px 18px;
}

.dropdown-toggle{
    color: #46b4d9;
}
/*End Header*/